<ion-view view-title="{{$root.Dict.ABOUT_TITLE}}">
  <ion-nav-buttons side="right">
        <div class="cart-total ink" ui-sref="app.cart">
            <div ng-if="totalCartItem>0">
                <span>{{totalCartItem}}</span>
            </div>
            <button class="button ink button-icon button-clear fa fa-shopping-basket"></button>
        </div>
    </ion-nav-buttons>
  <ion-content class="about" scroll="true">
  	<div class="hero">
        <div class="content no-header">
            <span class="logo"></span>
        </div>
    </div>
    <p>KK Book Centre Sdn Bhd is run entirely by Malaysians and is strongly positioned as a tri-lingual bookstore in Miri Sarawak.</p>
    <p>KK Book Centre sells a wide variety of fiction, non-fiction and general interest books in English, Chinese and Malay, as well as school textbooks and revision books. In addition, it also offers a large selection of magazines, stationery, multi-media products, gift items and CDs.</p>
    <p>It is a one-stop center for schooling needs and book-lovers from all walks of life.</p>
    <p>Our book centre offers a conducive and relaxing ambiance for a whole new reading and browsing experience for all book-lovers, young and old alike. Other than book sales, KK Book Centre Sdn Bhd has three other core businesses: book distribution, publishing and e-learning.</p>
    <p>KK Book Centre is continuously re-inventing itself to become a customer-centric and dynamic retailer for the new millennium.</p>

	  <p><i class="icon ion-social-facebook"><a href="https://www.facebook.com/KK-Book-Centre-180551312050343/"></a></i><br>
		@{{appname}}</p>
  </ion-content>
</ion-view>
