<ion-view view-title="{{$root.Dict.CART_TITLE}}">
    <ion-nav-buttons side="right">
        <button ng-show="cart && cart.length>0" class="button button-icon button-clear ion-trash-a" ng-click="data.showDelete = !data.showDelete; "></button>
    </ion-nav-buttons>
	<ion-content class="cart" overflow-scroll="true">
        <div ng-if="!cart || cart.length==0" class="empty">
            <i class="icon ion-sad-outline"></i>
            <h3>{{$root.Dict.CART_EMPTY}}</h3>
            <button class="button button-dark round" ui-sref="app.dash">{{$root.Dict.TXT_LETS_SHOPPING}}</button>
        </div>
		<ion-list show-delete="data.showDelete" can-swipe="true">
            <ion-item ng-if="cart.length>0" ng-repeat="x in cart track by $index" class="item item-thumbnail-left">
                <div ng-if="x.img" class="img" style="background-image: url({{x.img}})" ui-sref="app.product({id: x.id})"></div>
                <div ng-if="!x.img" class="img" style="background-image: url(img/product.png)" ui-sref="app.product({id: x.id})"></div>
                <div class="cart-detail">
                    <h3>{{x.title}}</h3>
                    <span ng-if="x.variations.name">{{x.variations.name}}: {{x.variations.option}}</span>
                    <div class="price" ng-bind-html="(x.qty * x.price) | currency:format:decimal"></div>
                    <div class="row">
                        <span class="col col-33">
                            <button ng-disabled="x.qty<2" class="button button-light ion-minus" ng-click="addItem(x, -1);"></button>
                        </span>
                        <span class="col col-33"><button class="button button-light">{{x.qty}}</button></span>
                        <span class="col col-33">
                            <button class="button button-light ion-plus" ng-click="addItem(x, 1);"></button>
                        </span>
                    </div>
                </div>
                <ion-delete-button class="ion-trash-a" ng-click="removeCart($index, x);"></ion-delete-button>
            </ion-item>
        </ion-list>
        <div class="row total padding" ng-if="cart.length>0">
            <div>
                {{$root.Dict.TXT_SUBTOTAL}}
                <span class="pull-right">
                  <strong><span ng-bind-html="getCartTotal() | currency:format:decimal"></span></strong>
                </span>
            </div>
        </div>
        <div class="padding" ng-if="cart.length>0">
          <button class="button button-full button-energized round" ng-click="goCheckout();">{{$root.Dict.CART_CHECKOUT}}</button>
       </div>
	</ion-content>
</ion-view>
