<ion-view view-title="{{$root.Dict.CHECKOUT_TITLE}}">
	<form ng-submit="doConfirm(frm)" novalidate="" name="frm">
	<ion-content class="checkout">        

        <div class="item item-divider">
           {{$root.Dict.CHECKOUT_SHIPPING_ADDRESS}}
        </div>
        <div class="padding">
            <label class="item item-input item-floating-label">
                <input type="text" autocomplete="off" class="form-control" name="first_name" placeholder="{{$root.Dict.TXT_FIRSTNAME}}" required ng-model="ship.first_name">
                <label class="control-label text-danger" ng-show="frm.first_name.$invalid && ship.first_name!=''">
                  <i class="icon ion-alert"></i>
                  {{$root.Dict.TXT_FIRSTNAME}} {{$root.Dict.TXT_CANT_EMPTY}}
                </label>
            </label>
            <label class="item item-input item-floating-label">
                <input type="text" autocomplete="off" class="form-control" name="last_name" placeholder="{{$root.Dict.TXT_LASTNAME}}" required ng-model="ship.last_name">
                <label class="control-label text-danger" ng-show="frm.last_name.$invalid && ship.last_name!=''">
                  <i class="icon ion-alert"></i>
                  {{$root.Dict.TXT_LASTNAME}} {{$root.Dict.TXT_CANT_EMPTY}}
                </label>
            </label>
            <label ng-show="!user.isLogin" class="item item-input item-floating-label">
                <input type="email" autocomplete="off" class="form-control" name="email" placeholder="{{$root.Dict.TXT_EMAIL}}" required ng-model="user.email">
                <label for="email" class="control-label text-danger" ng-show="frm.email.$invalid && billing.email!=''">
                  <i class="icon ion-alert"></i>
                  {{$root.Dict.TXT_EMAIL}} {{$root.Dict.TXT_CANT_EMPTY}}
                </label>
            </label>
            <label class="item item-input item-floating-label">
                <input type="text" autocomplete="off" class="form-control" name="phone" placeholder="{{$root.Dict.TXT_PHONE}}" required ng-model="billing.phone">
                <label for="phone" class="control-label text-danger" ng-show="frm.phone.$invalid && billing.phone!=''">
                  <i class="icon ion-alert"></i>
                  {{$root.Dict.TXT_PHONE}} {{$root.Dict.TXT_CANT_EMPTY}}
                </label>
            </label>
            <label ng-click="showCountry()" class="item item-input item-floating-label item-icon-right">
                <div class="form-control">
                    <span ng-show="!ship.country">{{$root.Dict.TXT_COUNTRY}}</span>
                    <span ng-show="ship.country">
                        {{tmp.country}}
                    </span>
                    <i class="icon ion-ios-arrow-forward"></i>
                </div>
            </label>
            <label class="item item-input item-floating-label">
                <input type="text" autocomplete="off" class="form-control" name="address_1" placeholder="{{$root.Dict.TXT_STREET}}" required ng-model="ship.address_1">
                <label class="control-label text-danger" ng-show="frm.address_1.$invalid && ship.address_1!=''">
                  <i class="icon ion-alert"></i>
                  {{$root.Dict.TXT_STREET}} {{$root.Dict.TXT_CANT_EMPTY}}
                </label>
            </label>
            <label class="item item-input item-floating-label">
                <input type="text" autocomplete="off" class="form-control" name="address_2" placeholder="{{$root.Dict.TXT_ADDRESS2}}" ng-model="ship.address_2">
            </label>
            <label class="item item-input item-floating-label">
                <input type="text" autocomplete="off" class="form-control" name="city" placeholder="{{$root.Dict.TXT_TOWN}}" required ng-model="ship.city">
                <label class="control-label text-danger" ng-show="frm.city.$invalid && ship.city!=''">
                  <i class="icon ion-alert"></i>
                  {{$root.Dict.TXT_TOWN}} {{$root.Dict.TXT_CANT_EMPTY}}
                </label>
            </label>
            <label class="item item-input item-floating-label">
                <input type="text" autocomplete="off" class="form-control" name="state" placeholder="{{$root.Dict.TXT_STATE}}" required ng-model="ship.state">
                <label class="control-label text-danger" ng-show="frm.state.$invalid && ship.state!=''">
                  <i class="icon ion-alert"></i>
                  {{$root.Dict.TXT_STATE}} {{$root.Dict.TXT_CANT_EMPTY}}
                </label>
            </label>


            <label class="item item-input item-floating-label">
                <input type="text" autocomplete="off" class="form-control" name="postcode" placeholder="{{$root.Dict.TXT_ZIP}}" required ng-model="ship.postcode">
                <label for="postcode" class="control-label text-danger" ng-show="frm.postcode.$invalid && ship.postcode!=''">
                  <i class="icon ion-alert"></i>
                  {{$root.Dict.TXT_ZIP}} {{$root.Dict.TXT_CANT_EMPTY}}
                </label>
            </label>

            <label class="item item-input item-floating-label">
                <textarea rows="3" autocomplete="off" class="form-control" name="note" placeholder="{{$root.Dict.TXT_NOTE}}" ng-model="tmp.note"></textarea>
            </label>
        </div>

        <div class="item item-divider">
           {{$root.Dict.TXT_COUPON}}
        </div>
        <div class="padding voucher">
            <div class="item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" autocomplete="off" class="form-control" name="coupon" placeholder="{{$root.Dict.TXT_COUPON_INPUT}}" ng-model="tmp.coupon">
                </label>
                <button class="button button-balanced button-small" ng-disabled="tmp.coupon==''" type="button" ng-click="getCoupon()">
                    {{$root.Dict.TXT_SUBMIT}}
                </button>
            </div>
            <div class="desc" ng-if="coupon_lines.desc">
                <span>{{coupon_lines.desc}}</span>
                <span class="cancel" ng-click="cancelCoupon()">[{{$root.Dict.TXT_COUPON_CANCEL}}]</span>
            </div>
        </div>

        <div class="item item-divider">
           {{$root.Dict.TXT_SHIPPING_METHOD}}
        </div>
        <ion-list>
            <ion-radio ng-repeat="x in shipping" name="shipping_method" ng-click="setShip(x)">
                <div>{{x.name}}</div>
                <div>
									<b ng-bind-html="x.cost | currency:format:decimal"></b>
								</div>
            </ion-radio>
        </ion-list>
        <div class="item item-divider">
           {{$root.Dict.TXT_PAYMENT_METHOD}}
        </div>
        <ion-list>
            <ion-radio ng-repeat="x in payment" name="payment_method" ng-click="setPayment(x)" ng-hide="x.id=='razor' && store.meta.currency != 'INR'">
                <div><b>{{x.name}}</b> <i class="{{x.icon}}"></i></div>
                <div>{{x.desc}}</div>
            </ion-radio>
        </ion-list>
	</ion-content>
	<ion-footer-bar>
		<button class="button button-energized" ng-disabled="frm.$invalid || !ship.country || !shipping_lines[0].method_id || !payment_details.method_id">{{$root.Dict.CHECKOUT_CONFIRM}}</button>
	</ion-footer-bar>
</form>
</ion-view>
