<ion-view view-title="{{$root.Dict.CONFIRM_TITLE}}">
	<ion-content class="checkout">
		<div class="item item-divider">
		  {{$root.Dict.CONFIRM_SUMMARY}}
		</div>
		<div class="padding">
            <label class="item item-input item-floating-label item-icon-right">
                <div class="form-control">
                    <span>{{$root.Dict.TXT_PAYMENT_METHOD}}</span>
                    <span class="pull-right">
                        {{paymentmethod}}
                    </span>
                </div>
            </label>
            <label class="item item-input item-floating-label item-icon-right">
                <div class="form-control">
                    <span>{{$root.Dict.TXT_SHIPPING_METHOD}}</span>
                    <span class="pull-right" ng-bind-html="shipmethod">
                    </span>
                </div>
            </label>
			<label class="item item-input item-floating-label item-icon-right">
                <div class="form-control">
                    <span>{{$root.Dict.TXT_SUBTOTAL}}</span>
                    <span class="pull-right" ng-bind-html="subtotal | currency:format:decimal">
                    </span>
                </div>
            </label>
            <label class="item item-input item-floating-label item-icon-right" ng-if="discAmount">
                <div class="form-control">
                    <span>{{$root.Dict.TXT_COUPON_DISC}}</span>
                    <span class="pull-right">(<span ng-bind-html="discAmount | currency:format:decimal"></span>)</span>
                </div>
            </label>
            <label class="item item-input item-floating-label item-icon-right">
                <div class="form-control">
                    <span>{{$root.Dict.CONFIRM_SHIPCOST}}</span>
                    <span class="pull-right" ng-bind-html="shipcost | currency:format:decimal">
                    </span>
                </div>
            </label>

            <label class="item item-input item-floating-label item-icon-right">
                <div class="form-control subtotal">
                    <span><b>{{$root.Dict.TXT_TOTAL}}</b></span>
                    <span class="pull-right" ng-bind-html="total | currency:format:decimal">
                    </span>
                </div>
            </label>
        </div>
        <div class="item item-divider">
		   {{$root.Dict.CONFIRM_POLICY}}
		</div>
		<div class="padding rules">
			<strong>The owner and operator of this site is KK Book Centre Sdn Bhd. By purchasing products from KK Book Centre Sdn Bhd through this website the purchaser (“Customer”), agrees to the following terms and conditions of sale.</strong>

			<p><strong>Ordering</strong></p>
			<p>1.1 Upon the confirming a purchase order the Customer agrees to purchase the products in the Customer’s “shopping cart” for the stated price, including GST and any postage and handling charges as applicable.<br>
			1.2 KK Book Centre Sdn Bhd will send the products to the Customer as soon as practicable after it receives payment for the products.<br>
			1.3 The Customer warrants that it will not purchase products for the purpose of commercial resale.</p>

			<p><strong>Defective products</strong></p>
			<p>2.1 If the Customer purchases a defective product from KK Book, the Customer must return the product to KK Book Centre within 28 days of receiving the product, with a copy of the invoice and a brief letter containing the Customer’s personal information and details of the defect in the product.<br>
			2.2 If the product is defective, KK Book Centre will in its discretion, either:<br>
			(a) replace the product; or<br>
			(b) provide a refund of the price of the defective product to the Customer.<br>
			2.3 KK Book Centre will not accept any liability for any defective product that the Customer does not return in accordance with the clause.<br>
			2.4 In no case shall the maximum liability of KK Book Centre exceed the price of the product in respect of which a claim is made.</p>

			<p><strong>Stock availability</strong></p>
			<p>3.1 The Customer shall not be entitled to object if information about products on the Website is not correct, or if advertised products are not available, or if images of products differ from the actual products.<br>
			<p>3.2 If the Customer pays for a product that KK Book Centre cannot supply, KK Book Centre will refund the price of that product to the Customer.<br>
			<p>3.3 Prices, offers and stock availability may vary between kkbookcentre.com and KK Book Centre stores.

			<p><strong>Products sent to incorrect address</strong></p>
			<p>4.1 If the Customer does not receive products it has purchased within 40 days of the date of purchase, KK Book Centre shall not be liable to the Customer for those products unless the Customer notifies KK Book Centre of the delay within 40 days of the date of purchase.</p>
			<p>4.2 If a product is not received by a Customer because it was sent by KK Book Centre to an incorrect address, KK Book Centre shall be responsible for the resending, replacement or refunding of the price of the product.</p>
			<p>4.3 If a product is not received by the Customer because the Customer provided an incorrect or insufficient address, then:<br>
			(a) subject to clause, if the product is returned to KK Book Centre, KK Book Centre will resend the product to the Customer, provided that the Customer first pays the cost of postage and handling for resending; or<br>
			(b) if the product is not returned to KK Book Centre, then KK Book Centre shall have no further responsibility.</p>

			<p><strong>Non-claimed products</strong></p>
			<p>If the products which a Customer has purchased are returned to KK Book Centre by a person other than the Customer and KK Book Centre cannot, despite reasonable efforts, contact the Customer, or the Customer does not contact KK Book Centre within 3 months of products being returned to KK Book Centre then ownership of the products will revert to KK Book Centre.</p>

			<p><strong>Delays</strong></p>
			<p>The Customer agrees not to hold KK Book Centre liable for any loss or damage to the product directly or indirectly arising out of or in connection with any delay or failure to deliver.</p>

			<p><strong>Passing of risk and ownership</strong></p>
			<p>7.1 Subject to clauses and KK Book Centre does not accept any liability for products after it has sent the products to the Customer.<br>
			7.2 Subject to clause 5, ownership of products purchased by the Customer shall pass to the Customer upon KK Book Centre sending the products to the Customer.</p>

			<p><strong>Limitation of liability</strong></p>
			<p>8.1 KK Book Centre shall not be liable to the Customer for refund, replacement or exchange for products that the Customer purchased through KK Book Centre’s website other than as set out in these terms and conditions.<br>
			8.2 KK Book Centre shall not be liable to the Customer for any incidental, indirect, special or consequential damage to products arising out of or in connection with the purchase or services for purchases made through the KK Book Centre website, even if KK Book Centre has been advised of the possibility of such damage.</p>

			<p><strong>Gift voucher expiry</strong></p>
			<p>Gift vouchers are valid for one year from the date of issue. Any remaining credit is non-refundable.</p>

			<p><strong>Site access</strong></p>
			<p>10.1 KK Book Centre grants the Customer permission to access, view and download content appearing on this site for personal, non-commercial use only.<br>
			10.2 The Customer agrees not to use any device, method or software to interfere with the proper functioning of this site including but not limited to: spiders, robots, avatars, agents, data mining, gathering or extraction tools and attempts to probe, scan or test or breach security and authentication measures.</p>

			<p><strong>Intellectual property</strong></p>
			<p>11.1 The Customer agrees that the content which the Customer accesses, views or downloads and the software used to create it remains the intellectual property of KK Book Centre.</br>
			11.2 The Customer agrees not to modify or alter the content of the website in any way, or to make it available to any third parties.</p>

			<p><strong>Communications</strong></p>
			<p>By creating an account with KK Book Centre the Customer consents to receiving electronic communications from KK Book Centre. The Customer’s personal details will not be sold or leased to any third party. For more information please see our Privacy Policy.</p>

			<p><strong>Governing law and jurisdiction</strong></p>
			<p>These terms and conditions are governed by, take effect and will be construed in accordance with the laws of Malaysia, and the Customer irrevocably and unconditionally agrees to submit to the exclusive jurisdiction of the courts in Malaysia and courts entitled to hear appeals therefrom.</p>

			<p><strong>Disclaimer</strong></p>

			<p>KK Book Centre would like to welcome you to this website, we have worked hard to make it as user-friendly and informative as possible. When viewing the pages of this website, you acknowledge that you have read and accepted the following disclaimer.</p>

			<p>The information on this website is provided for general information only. KK Book Centre has provided this information for the benefit of users in good faith and with reasonable care. Errors and omissions in this information may occur including through negligence. Accordingly, KK Book Centre does not accept any liability for any loss or damage which may directly or indirectly result from any opinion, information, advice, representation or omission contained on this website.</p>

		</div>
	</ion-content>
	<ion-footer-bar>
		<button class="button button-energized ion-ios-locked" ng-click="createOrder();">
            {{$root.Dict.TXT_PAY}} <span ng-bind-html="total | currency:format:decimal"></span>
        </button>
	</ion-footer-bar>
</ion-view>
