<ion-view view-title="{{$root.Dict.CONTACT_TITLE}}">
  <ion-nav-buttons side="right">
        <div class="cart-total ink" ui-sref="app.cart">
            <div ng-if="totalCartItem>0">
                <span>{{totalCartItem}}</span>
            </div>
            <button class="button ink button-icon button-clear fa fa-shopping-basket"></button>
        </div>
    </ion-nav-buttons>
  <ion-content class="contact" scroll="true">
  	<div class="hero">
        <div class="content no-header">
            <span class="logo"></span>
        </div>
    </div>
    <p>
      <b>Our Address</b>
      <br>
    	HQ - LOT 1309 - 1310, BLOCK 10, MCLD, JALAN MELAYU, 98100 MIRI, SARAWAK.
      <br>
      <b>Opening Hours</b>
      <br>
      8:00am - 6:00pm Daily
      <br>
      <br>
      <b>Permyjaya Branch</b>
      <br>
      Lot 258-260, 1st Floor, Permy Mall, Bandar Baru, Permyjaya, 98100 Miri, Sarawak Miri 98100.
      <br>
      <b>Opening Hours</b>
      <br>
      9.30AM - 9.30PM Daily
      <br>
      <br>
      <b>Bintulu Branch</b>
      <br>
      No 192, Lot 7780, Assyakirin Commerce Square, Jalan Sultan Iskandar, 97000 Bintulu, Sarawaka
      <br>
    </p>
    <div class="row padding">
      <div class="col col-50 ink">
          <div class="call">
            <a href="tel:+6085411343"><i class="icon ion-android-call"></i></a>
          </div>
          <span>{{$root.Dict.CONTACT_CALL_US}}</span>
      </div>
      <div class="col col-50 ink" ng-click="email();">
          <div class="call">
            <i class="icon ion-email"></i>
          </div>
          <span>{{$root.Dict.CONTACT_SEND_EMAIL}}</span>
      </div>
    </div>
  </ion-content>
</ion-view>
