<ion-view view-title="{{$root.Dict.ENQUIRY_TITLE}}">
  <ion-nav-buttons side="right">
        <div class="cart-total ink" ui-sref="app.cart">
            <div ng-if="totalCartItem>0">
                <span>{{totalCartItem}}</span>
            </div>
            <button class="button ink button-icon button-clear fa fa-shopping-basket"></button>
        </div>
    </ion-nav-buttons>
    <ion-content class="enquiry" scroll="true">

      <form name="form.enquiry" ng-submit="sendContact()">

      <button class="button button-full button-energized" ng-click="addMedia()">
        Upload Image
      </button>

      <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" style="height:200px; padding: 5px 5px 5px 5px;"/>

      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Name" class="form-control" name="name" ng-model="contact.name">
        </label>
        <label class="item item-input">
          <input type="email" requ placeholder="Email" class="form-control" name="email" ng-model="contact.email">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Phone" class="form-control" name="phone" ng-model="contact.phone">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="School" class="form-control" name="school" ng-model="contact.school">
        </label>
        <label class="item item-input">
          <textarea placeholder="Product Names (Seperated by comma)" name="products" ng-model="contact.products"></textarea>
        </label>
        <label class="item item-input">
          <textarea placeholder="Message" name="message" ng-model="contact.message"></textarea>
        </label>
      </div>

      <button type="submit" class="button button-full button-positive">
        Send mail
      </button>

      </form>


      <ion-scroll direction="y" style="height:200px; min-height: 200px; overflow: scroll; white-space: nowrap;">
        <img ng-repeat="image in images track by $index" ng-src="data:image/jpeg;base64,{{image}}" style="height:200px; padding: 5px 5px 5px 5px;"/>
      </ion-scroll>
	  <p><i class="icon ion-social-facebook"><a href="https://www.facebook.com/KK-Book-Centre-180551312050343/"></a></i><br>
		@{{appname}}</p>
  </ion-content>
</ion-view>
