<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button ink button-icon button-clear ion-android-menu" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="dark-bg">
      <div>
        <span menu-close ng-if="!user.isLogin" ui-sref="app.login"><i class="lineicon lineicon-user"></i>  {{$root.Dict.TXT_LOGIN_SIGNUP}}</span>
        <span menu-close ng-if="user.isLogin"><i class="lineicon lineicon-user"></i>  {{user.username}}</span>
        <span menu-close ng-if="user.isLogin" ng-click="doLogout()" class="pull-right ink">{{$root.Dict.TXT_LOGOUT}}</span>
      </div>
    </ion-header-bar>
    <ion-content overflow-scroll="true">
      <ion-list>
        <ion-item menu-close ui-sref="app.dash" class="item item-icon-left ink">
          <i class="icon lineicon lineicon-shop"></i>
          {{$root.Dict.TXT_SHOP}}
        </ion-item>
<!--
        <span ng-if="user.isLogin">
          <ion-item menu-close ui-sref="app.account" class="ink item-icon-left ink">
            <i class="icon lineicon lineicon-user"></i>
            {{$root.Dict.ACCOUNT_TITLE}}
          </ion-item>

          <ion-item menu-close ui-sref="app.orders" class="ink item-icon-left ink">
            <i class="icon lineicon lineicon-wallet"></i>
            {{$root.Dict.ORDER_TITLE}}
          </ion-item>
        </span> -->

        <!-- <ion-item menu-close ui-sref="app.blog" class="item item-icon-left ink">
          <i class="icon lineicon lineicon-news"></i>
          {{$root.Dict.BLOG_TITLE}}
        </ion-item> -->
        <!-- <ion-item menu-close ui-sref="app.wish" class="item item-icon-left ink">
          <i class="icon lineicon lineicon-heart"></i>
          {{$root.Dict.WISH_TITLE}}
        </ion-item> -->

        <ion-item menu-close ui-sref="app.contact" class="ink item-icon-left ink">
          <i class="icon lineicon lineicon-mail"></i>
          {{$root.Dict.CONTACT_TITLE}}
        </ion-item>
        <!-- <ion-item menu-close ui-sref="app.faq" class="ink item-icon-left ink">
          <i class="icon lineicon lineicon-bubble"></i>
          {{$root.Dict.FAQ}}
        </ion-item> -->
        <!-- <ion-item menu-close href="#" ng-click="rateApp()" class="ink item-icon-left ink">
          <i class="icon lineicon lineicon-star"></i>
          {{$root.Dict.TXT_RATE}}
        </ion-item> -->
        <ion-item menu-close ui-sref="app.about" class="ink item-icon-left ink">
          <i class="icon lineicon lineicon-world"></i>
          {{$root.Dict.ABOUT_TITLE}}
        </ion-item>

        <ion-item menu-close ui-sref="app.enquiry" class="ink item-icon-left ink">
          <i class="icon lineicon lineicon-bubble"></i>
          {{$root.Dict.ENQUIRY_TITLE}}
        </ion-item>

        <ion-item menu-close ui-sref="app.privacy" ng-click="openBrowser();" class="ink item-icon-left ink">
          <i class="icon lineicon lineicon-study"></i>
          {{$root.Dict.PRIVACY_TITLE}}
        </ion-item>
        <!-- <ion-item menu-close ui-sref="app.settings" class="ink item-icon-left ink">
          <i class="icon lineicon lineicon-settings"></i>
          {{$root.Dict.SETTINGS_TITLE}}
        </ion-item> -->

        <!-- <ion-item class="item-divider">
          {{$root.Dict.TXT_COLLECTIONS}}
        </ion-item> -->

        <div ng-repeat="x in categories">
          <div class="mainmenu">
              <ion-item nav-clear menu-close ui-sref="app.category({id: x.id, slug: x.slug, title: x.name})"
                      ng-class="{active: isGroupShown(x)}" class="ink">
              <span ng-bind-html="x.name"></span>
              </ion-item>
              <i ng-if="x.items.length>0" ng-click="toggleGroup(x)" class="icon-toggle" ng-class="isGroupShown(x) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
          </div>
          <div class="submenu" ng-if="x.items.length>0">
            <ion-item ng-show="isGroupShown(x)" menu-close ng-repeat="y in x.items"
                      class="item-accordion ink" ui-sref="app.category({id: y.id, slug: y.slug, title: y.name})">
              <span ng-bind-html="y.name"></span>
              <span class="pull-right">{{y.count}}</span>
            </ion-item>
          </div>
        </div>
      </ion-list>
      <div class="appver">&copy; {{appname}} v{{appversion}} with <span class="fa fa-heart"></span>iPrima Media</div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
