<ion-view view-title="{{$root.Dict.PRIVACY_TITLE}} Policy">
  <ion-nav-buttons side="right">
        <div class="cart-total ink" ui-sref="app.cart">
            <div ng-if="totalCartItem>0">
                <span>{{totalCartItem}}</span>
            </div>
            <button class="button ink button-icon button-clear fa fa-shopping-basket"></button>
        </div>
    </ion-nav-buttons>
    <ion-content class="privacy" scroll="true">
      <div class="content no-header" style="padding:20px;" ng-bind-html="privacy">
        <div class="inner-container"></div>
        <!-- .inner-container -->
      </div>
  </ion-content>
</ion-view>
